 {% extends "base.html" %}

{% block content %}
 <section id="main_slider">
            <section class="container-fluid container">
                <section class="row-fluid">
                    <div class="slider_content">
                  
                        <h2>Библиоленд</h2>
                          <h4> Электронные книги для ума и сердца</h4>
                        <p>Pellentesque libero leo, molestie in congue sit amet, volutpat eu justo. Sed id arcu ac mauris ullamcorper fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. ultricies consequat mauris ut fermentum. Sed a urna a odio eleifend lacinia. Pellentesque libero leo, molestie in congue sit amet, volutpat eu justo. Sed id arcu ac mauris ullamcorper fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. ultricies consequat mauris ut fermentum. Sed a urna a odio eleifend lacinia.</p>


                    </div>

                    <div class="slider1 ">
                        <div class="slide">
                            <img src="http://placehold.it/200x290" class="cover1">
                           <div style="margin-bottom:30px; margin-top:10px; text-align:center">
                                <a href="#" class="purchase"> Купить <span> 150 руб.</span> </a> 
                                     <a href="#" class="purchase">Подробнее </a> </div>
                        </div>
                        <div class="slide">
                            <img src="http://placehold.it/200x290" class="cover1">
                          <div style="margin-bottom:30px; margin-top:10px; text-align:center">
                                <a href="#" class="purchase"> Купить <span> 150 руб.</span> </a> 
                                     <a href="#" class="purchase"> Подробнее </a> 
                                     </div>
                        </div>

                    </div>


                </section>
            </section>

        </section>
        <!-- End Main Slider -->
        <section id="view">
            <section class="view_head ptb">
                <h1 class="floatl">НАШИ АВТОРЫ:</h1>
                <div class="slider2">
                    <div class="slide">
                        
                        <div class="authcar">
                       <img src="http://placehold.it/100x100" class="floatl">
                            <h3>Автор Авторович</h3>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur, magnam, sint commodi nulla vel iste dolorum reprehenderit ratione facilis ipsam voluptatibus
                            
                        </div>
                        </div>

      <div class="slide">
                        
                        <div class="authcar">
                       <img src="http://placehold.it/100x100" class="floatl">
                            <h3>Автор Авторович</h3>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur, magnam, sint commodi nulla vel iste dolorum reprehenderit ratione facilis ipsam voluptatibus
                            
                        </div>
                        </div>


                              <div class="slide">
                        
                        <div class="authcar">
                       <img src="http://placehold.it/100x100" class="floatl">
                            <h3>Автор Авторович</h3>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur, magnam, sint commodi nulla vel iste dolorum reprehenderit ratione facilis ipsam voluptatibus
                            
                        </div>
                        </div>

                              <div class="slide">
                        
                        <div class="authcar">
                       <img src="http://placehold.it/100x100" class="floatl">
                            <h3>Автор Авторович</h3>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur, magnam, sint commodi nulla vel iste dolorum reprehenderit ratione facilis ipsam voluptatibus
                            
                        </div>
                        </div>

                              <div class="slide">
                        
                        <div class="authcar">
                       <img src="http://placehold.it/100x100" class="floatl">
                            <h3>Автор Авторович</h3>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur, magnam, sint commodi nulla vel iste dolorum reprehenderit ratione facilis ipsam voluptatibus
                            
                        </div>
                        </div>

                              <div class="slide">
                        
                        <div class="authcar">
                       <img src="http://placehold.it/100x100" class="floatl">
                            <h3>Автор Авторович</h3>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur, magnam, sint commodi nulla vel iste dolorum reprehenderit ratione facilis ipsam voluptatibus
                            
                        </div>
                        </div>


                        </div>

            </section>

            <section class="container-fluid container ptb">
                <section class="row-fluid">
                    <figure class="view_quote span6">
                        <h1>consequat mauris ut fermentum</h1>
                    </figure>
                    <figure class="span6 view_quote">
                        <h4>turpis metus, ultricies quis:</h4>
                        <i class="icon-off"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam turpis metus, ultricies quis consequat vel, aliquet sed neque. Curabitur turpis dolor,rit sed quam.</p>
                    </figure>
                </section>
            </section>
        </section>

              <section id="newsletter" class="ptb">
        <section class="container container-fluid">
          <section class="row-fluid">
            <figure class="span7">
              <h2> Подписка на рассылку!</h2>
              <h4> For a free Chapter, <span> Get our newletter! </span> </h4>
            </figure>
            <figure class="span5">
              <form id="newsletter_form" method="post" action="#">
                <input type="text" value="domain@myhosting.com" name="newsletter_form" />
                <input type="submit" value="Подписаться" /> 
              </form>
            </figure>
          </section>
        </section>
      </section>

 {% endblock %}       