<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Book Landing Theme</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,200,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <!-- Google Font -->
    <!-- Css Files Start -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!-- All css -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap Css -->
    <link rel="stylesheet" type="text/css" href="css/main-slider.css" />
    <!-- Main Slider Css -->
    <!--[if lte IE 10]>
    <link rel="stylesheet" type="text/css" href="css/customIE.css" />
    <![endif]-->
    <!-- Pretty Photo Css -->
    <link href="css/prettyPhoto.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Css IE 7 -->
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="css/raleway.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Css -->
    <link href="css/font-awesome-ie7.css" rel="stylesheet" type="text/css" />

    <!-- Font Awesome iE7 Css -->
    <link href="css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
    <!-- Custom Scroll Bar Css -->
    <!-- Book Block CSS -->
    <link rel="stylesheet" id="bookblock-css" href='css/bookblock.css' type='text/css' media='all' />
    <link rel="stylesheet" id="demo-css" href="css/demo_bookblock.css" type='text/css' media='all' />
    <!-- End of  Block CSS -->
    <!-- color Switcher -->
    <link href="css/switcher.css" rel="stylesheet" type="text/css" />
    <!-- color Switcher -->
    <noscript>
        <link rel="stylesheet" type="text/css" href="css/noJS.css" />
    </noscript>
    <!-- Css Files End -->
    <link rel="stylesheet" id="skins" href="css/default.css" type="text/css" media="all">
    <!-- skins -->
    <!-- modrenizer -->
    <script type='text/javascript' src="js/modernizr.custom.js"></script>
    <!-- modrenizer -->
</head>

<body data-spy="scroll" data-target=".navbar">
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- Start Main Wrapper -->
    <div class="wrapper">
        <header id="header">
            <section class="container-fluid container">
                <section class="row-fluid">
                    <div class="logo span3">
                        <h1 id="logo">
                            <a href="index.html">
                                <img src="images/logo.png" alt="Bookish Theme Logo" />
                            </a>
                        </h1>
                    </div>
                    <nav id="nav">
                        <div class="navbar navbar-inverse pull-right span9">
                            <div class="navbar-inner">
                                <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="nav-collapse collapse">
                                    <ul class="nav home_nav">
                                        <li class="active"> <a href="#main_slider"> Начало </a> 
                                        </li>
                                        <li> <a href="#book_detail_slider"> Каталог книг </a> 
                                        </li>
                                        <li> <a href="#book_detail_slider"> Авторы</a> 
                                        </li>
                                        <li> <a href="#features"> О магазине </a> 
                                        </li>
                                        <li> <a href="#pricing"> Варианты оплаты </a> 
                                        </li>
                                    </ul>
                                </div>
                                <!--/.nav-collapse -->
                            </div>
                            <!-- /.navbar-inner -->
                        </div>
                        <!-- /.navbar -->
                    </nav>
                </section>
            </section>
        </header>

        <!-- Start Main Slider -->
        <section id="main_slider">
            <section class="container-fluid container">
                <section class="row-fluid">
                    <div class="slider_content">
                        <h2>Уму и сердцу</h2>
                        <h4>Магазин электронных книг</h4>
                        <p>Pellentesque libero leo, molestie in congue sit amet, volutpat eu justo. Sed id arcu ac mauris ullamcorper fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. ultricies consequat mauris ut fermentum. Sed a urna a odio eleifend lacinia.</p>


                    </div>

                    <div class="slider1 ">
                        <div class="slide">
                            <img src="http://placehold.it/250x300" class="cover1">
                           <div style="margin:auto; text-align:center">
                                <a href="#" class="purchase"> Купить <span> $15</span> </a> 
                                     <a href="#" class="purchase">Подробнее </a> </div>
                        </div>
                        <div class="slide">
                            <img src="http://placehold.it/100x200" class="cover1">
                          <div style="margin:auto">
                                <a href="#" class="purchase"> Purchase <span> $15</span> </a> 
                                     <a href="#" class="purchase"> Подробнее </a> 
                                     </div>
                        </div>

                    </div>


                </section>
            </section>

        </section>
        <!-- End Main Slider -->
        <section id="view">
            <section class="view_head ptb">
                <h1 class="floatl">НАШИ АВТОРЫ:</h1>
                <div class="slider2">
                    <div class="slide">
                        <img src="http://placehold.it/100x100" class="floatl">
                        <div>
                            <h3>Автор Авторович</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur, magnam, sint commodi nulla vel iste dolorum reprehenderit ratione facilis ipsam voluptatibus doloremque animi pariatur voluptatem! Porro, consequuntur veniam possimus.</p>
                            
                        </div>
                        </div>
   <div class="slide">
                        <img src="http://placehold.it/100x100" class="floatl">
                        <div>
                            <h3>Автор Авторович</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur, magnam, sint commodi nulla vel iste dolorum reprehenderit ratione facilis ipsam voluptatibus doloremque animi pariatur voluptatem! Porro, consequuntur veniam possimus.</p>
                        </div>
                        </div>

                           <div class="slide">
                        <img src="http://placehold.it/100x100" class="floatl">
                        <div>
                            <h3>Автор Авторович</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur, magnam, sint commodi nulla vel iste dolorum reprehenderit ratione facilis ipsam voluptatibus doloremque animi pariatur voluptatem! Porro, consequuntur veniam possimus.</p>
                        </div>
                        </div>

                           <div class="slide">
                        <img src="http://placehold.it/100x100" class="floatl">
                        <div>
                            <h3>Автор Авторович</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur, magnam, sint commodi nulla vel iste dolorum reprehenderit ratione facilis ipsam voluptatibus doloremque animi pariatur voluptatem! Porro, consequuntur veniam possimus.</p>
                        </div>
                        </div>
                        </div>

            </section>

            <section class="container-fluid container ptb">
                <section class="row-fluid">
                    <figure class="view_quote span6">
                        <h1>This book is a true mine of knowledge for anyone</h1>
                    </figure>
                    <figure class="span6 view_quote">
                        <h4>download a free sample of book:</h4>
                        <i class="icon-off"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam turpis metus, ultricies quis consequat vel, aliquet sed neque. Curabitur turpis dolor,rit sed quam.</p>
                    </figure>
                </section>
            </section>
        </section>
        <!-- Start Footer Section -->
        <section id="footer" class="ptb">
            <section class="container container-fluid">
                <section class="row-fluid">
{#                     <figure class="span7">
                        <nav>
                            <ul>
                                <li> <a href="index.html"> Home </a> 
                                </li>
                                <li> <a href="blog.html"> Blog </a> 
                                </li>
                                <li> <a href="blog-single.html"> Blog Detail </a> 
                                </li>
                                <li> <a href="blog-without-sidebar.html"> Blog Full width</a> 
                                </li>
                                <li> <a href="contact.html"> Contact </a> 
                                </li>
                            </ul>
                        </nav>
                    </figure> #}
                    <figure class="span5">&copy; Книжный магазин о. Якова Кротова 2014 Все права защищены</figure>
                </section>
            </section>
        </section>
        <!-- End Footer Section -->
        </div>
      

        <!-- End Main Wrapper -->
        <!-- JS Files Start -->
        <script type="text/javascript" src="js/lib.js"></script>
        <!-- lib Js -->
        <script type="text/javascript" src="js/jquer_ui-1-8-3.js"></script>
        <!-- UI Library -->
        <script type="text/javascript" src="js/modernizr.js"></script>
        <!-- Modernizr -->
        <script type="text/javascript" src="js/easing.js"></script>
        <!-- Easing js -->
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <!-- Bootstrap -->
        <script type="text/javascript" src="js/bxslider.js"></script>
        <!-- BX Slider -->
        <script type="text/javascript" src="js/input-clear.js"></script>
        <!-- Input Clear -->
        <script type="text/javascript" src="js/social.js"></script>
        <!-- Social Icons -->
        <script type="text/javascript" src="js/mousewheel.min.js"></script>
        <!-- Mousewheel -->
        <script type="text/javascript" src="js/mCustomScrollbar.min.js"></script>
        <!-- Modren Custom Scrollbar -->
        <script type="text/javascript" src="js/smooth-scroll.js"></script>
        <!-- SmoothScroll -->
        <script type="text/javascript" src="js/smoothscroll_1.js"></script>
        <!-- jQuery  Gallery Scroll -->
        <script type="text/javascript" src="js/smoothscroll_2.js"></script>
        <!-- jQuery  Gallery Scroll -->
        <script type="text/javascript" src="js/smoothscroll_3.js"></script>
        <!-- jQuery  Gallery Scroll -->

        <script type="text/javascript" src="js/prettyPhoto.js"></script>
        <!-- Pretty Photo js -->
        <script type='text/javascript' src="js/jquerypp.custom.js"></script>
        <!-- Bookblock Custom js -->
        <script type='text/javascript' src="js/bookblock.js"></script>
        <!-- Book Block js -->
        <script type="text/javascript" src="js/custom.js"></script>
        <!-- Custom js -->
        <script type="text/javascript" src="js/cockies.js"></script>
        <!-- Cookie js -->

        <!-- Preloader -->
        <!-- JS Files End -->
        <noscript>
            <style type="text/css" scoped>
            #socialicons>a span {
                top: 0px;
                left: -100%;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
            #socialicons>ahover div {
                left: 0px;
            }
            </style>
        </noscript>

</body>

</html>
