
<html>
<head>
<title>Îïëàòà ÷åðåç Èíòåðêàññó</title>
<meta http-equiv="Ñîäåðæèìîå-Òèï" content="text/html; charset=windows-1251">
<style type="text/css">
<!--
.unnamed1 {  background-color: #FFFF00}
-->
</style>
</head>

<body bgcolor="#FFFFFF" text="#000000" link="#0000FF" vlink="#0000FF" alink="#0000FF" background="112%203.png">
<table width="845" border="0" cellspacing="0" cellpadding="20" align="center" bordercolor="#BCDFFE" bgcolor="#FFFFFF">
 <tr> 
  <td> 
   <div align="right"> 
    <p align="center"><b><font face="Arial, Helvetica, sans-serif" size="5" color="#CC0000">Èíñòðóêöèÿ 
     ïî îïëàòå ÷åðåç ñåðâèñ Èíòåðêàññà</font></b></p>
    <p align="left"><font face="Arial, Helvetica, sans-serif" size="3"><b>1. Ïîñëå 
     íàæàòèÿ êíîïêè &quot;ÇÀÊÀÇÀÒÜ&quot; Âû ïîïàäàåòå íà ñòðàíèöó âûáîðà ñïîñîáîâ 
     îïëàòû.</b></font></p>
    <p align="left"><font face="Arial, Helvetica, sans-serif" size="3">Âûáåðèòå 
     ñïîñîá &quot;Èíòåðêàññà&quot;:</font></p>
    <p align="left"><font face="Arial, Helvetica, sans-serif" size="3"><img src="1.png" width="808" height="201"></font></p>
   </div>
   <div align="center"> 
    <p align="left"><font face="Arial, Helvetica, sans-serif" size="3"><b>2. Äàëåå 
     Âû ïîïàäàåòå íà ñòðàíèöó ôîðìû çàêàçà.</b></font></p>
    <p align="left"><font face="Arial, Helvetica, sans-serif" size="3">Ââåäèòå 
     ñâîè Èìÿ è E-mail â ôîðìó è íàæìèòå &quot;Îïëàòèòü&quot;:</font></p>
    <p align="left"><font face="Arial, Helvetica, sans-serif" size="3"><img src="1%202.png" width="790" height="267"></font></p>
    <p align="left"><font face="Arial, Helvetica, sans-serif" size="3">Ïîäòâåðäèòå 
     ïðàâèëüíîñòü ââåä¸ííûõ äàííûõ:</font></p>
    <p align="left"><img src="1%203.jpg" width="599" height="187"></p>
    <p align="left"><b><font face="Arial, Helvetica, sans-serif" size="3">3. Âû 
     ïîïàä¸òå íà ñòðàíèöó âûáîðà ñïîñîáà îïëàòû ñåðâèñà Èíòåðêàññà.</font></b></p>
    <p align="left"><img src="1%204.png" width="848" height="462"></p>
    <p align="left"> <font face="Arial, Helvetica, sans-serif" size="3"><b>4. 
     Âûáåðèòå óäîáíûé äëÿ Âàñ ñïîñîá îïëàòû, íàæàâ íà ñîîòâåòñòâóþùóþ èêîíêó.</b></font></p>
    <p align="left"><font face="Arial, Helvetica, sans-serif" size="3">Íàïðèìåð, 
     ÿ âûáèðàþ UNIStream (Þíèñòðèì)***</font></p>
    <table width="76%" border="0" cellspacing="0" cellpadding="0" align="right">
     <tr>
      <td><font size="2" face="Arial, Helvetica, sans-serif">***Þíèñòðèì (UNIStream) 
       — ìåæäóíàðîäíàÿ ñèñòåìà ñðî÷íûõ äåíåæíûõ ïåðåâîäîâ äëÿ ôèçè÷åñêèõ ëèö. 
       Ñèñòåìà èìååò áîëåå 100 òûñ. ïóíêòîâ îáñëóæèâàíèÿ â 90 ñòðàíàõ ìèðà (<a href="http://ru.wikipedia.org/wiki/%DE%ED%E8%F1%F2%F0%E8%EC">Âèêèïåäèÿ 
       î UNIStream</a>).</font></td>
     </tr>
    </table>
    <p>&nbsp;</p>
    <p align="left"><img src="1%205.png" width="820" height="157"></p>
    <p align="left"><b><font face="Arial, Helvetica, sans-serif" size="3">5. Íàæèìàþ 
     íà èêîíêó, è ïîïàäàþ íà ñòðàíèöó îïëàòû.</font></b><font face="Arial, Helvetica, sans-serif" size="3"> 
     Çäåñü Âû ìîæåòå ïðî÷èòàòü èíñòðóêöèþ ïî îïëàòå èìåííî äàííûì ñïîñîáîì. Îíà 
     îòêðûâàåòñÿ ïðè íàæàòèè íà ññûëêó &quot;Èíñòðóêöèÿ ïî îïëàòå&quot;.</font></p>
    <p align="left"><font face="Arial, Helvetica, sans-serif" size="3">Åñëè Âàñ 
     âñ¸ óñòðàèâàåò, òî Âàì íóæíî ââåñòè ñâîé E-mail èëè íîìåð òåëåôîíà, îòìåòèòü 
     ïóíêò &quot;ß ïðî÷èòàë è ïðèíèìàþ óñëîâèÿ Ïîëüçîâàòåëüñêîå Ñîãëàøåíèå&quot;, 
     è íàæàòü &quot;Îïëàòèòü&quot;:</font></p>
    <p align="left"><img src="1%206.png" width="825" height="396"></p>
    <p align="left"><font face="Arial, Helvetica, sans-serif" size="3">Ïðèìå÷àíèå: 
     ñ ýòîé ñòðàíèöû Âû ìîæåòå âåðíóòüñÿ ê ñïèñêó ïëàòåæíûõ ñèñòåì, è âûáðàòü 
     äðóãîé ñïîñîá îïëàòû.</font></p>
    <p align="left"><img src="1%207.png" width="825" height="396"></p>
    <p align="left"><b><font face="Arial, Helvetica, sans-serif" size="3">6. Äàëåå 
     Âû ïîïàäàåòå íà ñòðàíèöó ñ ïðîñòîé è ïîøàãîâîé èíñòðóêöèåé, è ñëåäóéòå åé.</font></b></p>
    <p align="left"><font face="Arial, Helvetica, sans-serif" size="3">Íàïðèìåð, 
     ïðè îïëàòå ÷åðåç UNIStream (Þíèñòðèì) îíà âûãëÿäèò òàê:</font></p>
    <p align="center"><img src="1%208.jpg" width="737" height="609"> </p>
    <p align="left"><b><font face="Arial, Helvetica, sans-serif" size="3">Æåëàþ 
     Âàì Óäà÷è!</font></b></p>
    <table width="573" border="0" cellspacing="0" cellpadding="0" align="right" height="166">
     <tr> 
      <td width="72%" height="92"> 
       <p align="right"><font face="Arial, Helvetica, sans-serif" size="3"><img src="1238529%20200.jpg" width="200" height="84"></font></p>
      </td>
      <td rowspan="2" width="28%"> 
       <div align="right"><font face="Arial, Helvetica, sans-serif" size="3"><img src="P8080647%20150.jpg" width="150" height="147" align="texttop"></font></div>
      </td>
     </tr>
     <tr> 
      <td width="72%" height="100"> 
       <p><font size="3" face="Arial, Helvetica, sans-serif"><b>Ñ èñêðåííåé âåðîé 
        â Âàñ è Âàø Óñïåõ,</b></font></p>
       <p align="right"><font size="3" face="Arial, Helvetica, sans-serif"><b>Þëèÿ 
        Ïîíîìàðåâà. </b></font></p>
       <p><font size="3" face="Arial, Helvetica, sans-serif"><b>Å-mail</b>: <a href="mailto:kakpohudetlegko@yandex.ru">kakpohudetlegko@yandex.ru</a></font></p>
      </td>
     </tr>
    </table>
    <p><font color="#CC00CC" face="Arial, Helvetica, sans-serif" size="3"><br>
     </font></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><font size="3" face="Arial, Helvetica, sans-serif">Âñå ïðàâà çàùèùåíû. 
     Copyright © 2013-2014<br>
     Ïîíîìàðåâà (Ñìèðíîâà) Þëèÿ Þðüåâíà</font></p>
    <p align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="http://yulija.support-desk.ru/">Ñëóæáà 
     ïîääåðæêè</a></font></p>
   </div>
   </td>
 </tr>
</table>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter17952478 = new Ya.Metrika({id:17952478, enableAll: true, webvisor:true});
        } catch(e) { }
    });
    
    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/17952478" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t44.1;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";h"+escape(document.title.substring(0,80))+";"+Math.random()+
"' alt='' title='LiveInternet' "+
"border='0' width='31' height='31'><\/a>")
//--></script><!--/LiveInternet-->

</body>
</html>
