{% extends "wide.html" %}
{% block widecontent %}
<h1>Статус заказa № {{ payment.paymentid }}: проведен, ожидается подтверждение платежной системы.</h1>
<h4 style="margin-bottom:38%!important">Как только платеж будет подтвержден, на Ваш email {{ payment.email }} будет выслана ссылка для скачивания книг. <br><br>
Время ожидания зависит от выбранного способа оплаты.<br><br>
Если Вы ждете слишком долго, напишите нам в службу поддержки
(support@biblio.land) или в службу поддержки сервиса "Интеркасса" (support@interkassa.com), указав номер заказа.<br><br>
Благодарим за покупку.</h4>
{% endblock %}