.bb-bookblock .folder-inner {
	left: 320px;
}
.bb-bookblock .folder-fold,
.bb-bookblock .folder-cover span,
#folder-close {
	display: none;
}.container{ width:1170px !important; }#footer ul li{ display:inline;}#newsletter_form input[type^=te] {    -moz-box-sizing: border-box;    background: none repeat scroll 0 0 #FFFFFF;    border: 0 none;    border-radius: 0 0 0 0;    float: left;    height: 50px;    width: 60%;}#newsletter_form input[type^=su] {    -moz-box-sizing: border-box;    background: none repeat scroll 0 0 #FD7903;    border: 0 none;    border-radius: 0 0 0 0;    color: #FFFFFF;    float: left;    font-size: 18px;    font-weight: 800;    height: 48px;    margin-top: 2px;    text-align: center;    text-transform: uppercase;    width: 29%;}#feature_list h3{ cleaR:both;}